---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <!-- Ich bin ein ausgeblendeter Kommentar in HTML-->
    {/* Ich bin ein ausgeblendeter Kommentar im Java script*/}
    <h1>About me</h1>
</Layout>