---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Progress from '../components/Progress.astro';
---

<Layout title="Welcome to Astro.">
 <!-- <h1>Welcome to my Website!</h1> --> 
<!-- <Card title='Test' body='Inhalt' href='/about'> Card </Card> -->

<section id="hero">
  <Hero />

</section>
<section id="skills">
  <div class="skills-list">
    <Progress title="HTML" progress="20" color='#adaebf' />
    <Progress title="Grün" progress="30" color="#6a6b80" />
    <Progress title="Blau" progress="40" color='#57596b' />
    <Progress title="Gelb" progress="50" color="#37384c" />
</div>
</section>
<section id="timeline">
  <Timeline />
</section>
<section id="projects"></section>
</Layout>

<style>
  .skills-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
</style>