---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Progress from '../components/Progress.astro';
---

<Layout title="Welcome to Astro.">
 <!-- <h1>Welcome to my Website!</h1> --> 
<!-- <Card title='Test' body='Inhalt' href='/about'> Card </Card> -->

<section id="hero"></section>
<Hero />
<section id="skills">
  <Progress />
</section>
<section id="timeline"></section>
<section id="projects"></section>
</Layout>
