<h1>Timeline</h1>
<ul>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">2014</span>
        <div class="timeline-content">
            <h3>Realschulabschluss</h3>
            <p>Linux; Gaming; Orientierungssuche;</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">2014-2015</span>
        <div class="timeline-content">
            <h3>FSJ beim ASB</h3>
            <p>Freiwilliges Soziales Jahr beim Arbeiter-Samariter-Bund</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">2015-2020</span>
        <div class="timeline-content">
            <h3>Ausbildung und Übernahme: Fachkraft für Lebensmitteltechnik</h3>
            <p>Abgeschlossene Berufsausbildung zur Fachkraft für
                Lebensmitteltechnik bei Kaufland Fleischwaren im Jahr 2018, mit
                anschließender Übernahme</p>
        </div>
    </li>
    <li class="timeline-item">
        <div class="timeline-dot"></div>
        <span class="timeline-date">2020-2024</span>
        <div class="timeline-content">
            <h3>Umschulung und Übernahme als Trainer für Fachinformatiker</h3>
            <p>Übernahme nach Praktikum als IT-Trainer bei Lutz & Grub:
                Academy™️. Schwerpunkt auf Webentwicklung, Linux und UML.</p>
        </div>
    </li>
</ul>